{% extends 'music/base.html' %}
{% block title %}Home Page{% endblock %}
{% load staticfiles %}

{% block body %}
<div class="albums-container container-fluid">
    <!-- Albums -->
        {% if albums %}
        <div class="row">
        <div class="col-sm-12">
            <h3 style="color:white;">{{ user.username }}'s Albums</h3>
        </div>
            {% for album in albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'music:album' album.id %}">
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ album.album_title }}</h2>
                            <h4>{{ album.artist }}</h4>

                            <!-- View album -->
                            <a href="{% url 'music:album' album.id %}" class="btn btn-primary btn-sm" role="button">View album</a>

                            <!-- Delete Album -->
                            <form action="{% url 'music:delete_album' album.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!-- Favorite Album -->
                            <a href="{% url 'music:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
		{% endif %}
</div>

<!-- Folders -->
{% if folders %}
<div class="row">
        <div class="col-sm-12">
            <h3 style="color:white;">{{ user.username }}'s Folders</h3>
        </div>
        {% if folders %}
        	<!-- Prints out every folder -->
            {% for folder in folders %}
            <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'music:folder' folder.id %}">
                             <img src="{% static 'folder.png' %}" class="img-responsive" type="image/png"/>                
                             <div class="caption post-content" align:"center">
                             	<h2 style="color:black" align="center">{{ folder.name }}</h2>
                             </div>
                        </a>
         			</div>
         	</div>
         	{% endfor %}
		{% endif %}
</div>             
{% endif %}
<!-- If user searches and there are songs -->
{% if songs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                	<!-- Beginning of the table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                                <th>Audio File</th>
                                <th>Album/Folder</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<!-- For every song in the album or folder -->
                            {% for song in songs %}
                                <tr>
                                
                                	<!-- Song Title -->
                                    <td>{{ song.song_title }}</td>
                                    
                                    <!-- Song Artist -->
                                    <td>{{ song.album.artist }}</td>
                                    
                                    <!--  Play Button -->
                                    <td>
                                        <a target="_blank" href="{{ song.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button>
                                        </a>
                                    </td>
                                    
                                    <!-- Displays the associated Album or Folder -->
                                    <td>
                                    {% if song.album%}
                                    	<!-- Displays the album logo -->
                                        <a href="{% url 'music:album' song.album.id %}">
                                            <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <!-- Displays the album title -->
                                        <a href="{% url 'music:album' song.album.id %}">{{ song.album.album_title }}</a>
                                    {% else %}
                                    	<!-- Displays the folder name and glyphicon-folder-close icon -->
                                    	<a href="{% url 'music:folder' song.folder.id %}"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>&nbsp;{{ song.folder.name }}</a>
                                    {% endif %}
                                    </td>
                                    
                                    <!-- Favorite Icon -->
                                    <td>
                                        <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                    </td>
  
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endif %}
{% endblock %}
